<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css" media="screen" />
    <title>Willkommen</title>
  </head>
  <body bgcolor=green></bodybgcolor>
        <h2>Willkommen <%= user %>  </h2>
        
        
  </body>
        <a href="/ueberweisung" class="button">Überweisung ausführen</a>
        <br>
        <a href="/login" class="button">Abmelden</a>
        
</html>
